<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.finance.dao.TbUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.finance.pojo.TbUser">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="login_name" property="loginName" />
        <result column="password" property="password" />
        <result column="type" property="type" />
        <result column="id_no" property="idNo" />
        <result column="phone_no" property="phoneNo" />
    </resultMap>
    <select id="selectOneByUsername" resultType="com.demo.finance.pojo.TbUser">
        SELECT * FROM tb_user WHERE login_name = #{username}
    </select>
    <select id="getUserSelectList" resultType="com.demo.finance.pojo.vo.UserSelectVO">
        SELECT user_name AS label, id AS value FROM tb_user
    </select>
    <select id="queryPage" resultType="com.demo.finance.pojo.vo.TbUserVO">
        SELECT * FROM tb_user WHERE type=2
    </select>
    <select id="getUserIdByLoginName" resultType="java.lang.Integer">
        SELECT id FROM tb_user WHERE login_name=#{loginName}
    </select>
    <select id="downloadByType" resultType="com.demo.finance.pojo.vo.TbUserVO">
        SELECT login_name,user_name,phone_no,id_no FROM tb_user WHERE type=#{type}
    </select>
    <select id="getAdminId" resultType="java.lang.Integer">
        SELECT id FROM tb_user WHERE type=#{code}
    </select>

</mapper>
