.history-show{
    height: 100vh;
    width: 100%;
    margin-left: 260px;
    margin-right: 260px;
    background: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;

}